.unnested:not() { display: block; }
.unnested:not(.foo > .bar:first-child, a.complex-selector-list, #baz) {
    display: block;
}
.reset-syntax {}

.unnested:is() { display: block; }
.unnested:is(.foo > .bar:first-child, a.complex-selector-list, #baz) {
    display: block;
}
.reset-syntax {}

.unnested:has() { display: block; }
.unnested:has(.foo > .bar:first-child, a.complex-selector-list, #baz) {
    display: block;
}
.reset-syntax {}

.unnested:where() { display: block; }
.unnested:where(.foo > .bar:first-child, a.complex-selector-list, #baz) {
    display: block;
}
.reset-syntax {}
